body {
   background: #000000;
}
html{
   -webkit-user-select: none;
  /* Safari */
   -moz-user-select: none;
  /* Firefox */
   -ms-user-select: none;
  /* IE10+/Edge */
   user-select: none;
  /* Standard */
}
a{
   color:inherit;
   text-decoration:none;
   transition: 0.3s;
   color: #a7c3ff;
   -webkit-tap-highlight-color: transparent;
}
a:hover{
   color: #6898ff;
}
br{
   -webkit-user-select: none;
  /* Safari */
   -moz-user-select: none;
  /* Firefox */
   -ms-user-select: none;
  /* IE10+/Edge */
   user-select: none;
  /* Standard */
}
input{
   opacity: 0;
   margin-left: -100%;
}
.wrapper {
   opacity: 0;
}
::-webkit-scrollbar{
   width: 10px;
}
::-webkit-scrollbar-thumb{
   border-radius: 20px;
   background: #8b8b8b;
}
.preload{
   display: block;
   width: 100%;
   height: 100%;
   background: #000;
   position: fixed;
   top: 0;
   left: 0;
   transition: all 0.7s ease-in-out;
   z-index: 999;
   pointer-events: none;
}
.preload.invisible{
   top: -100%;
   opacity: 0;
}
.pre_logo{
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   pointer-events: none;
}
.photo_profile{
   margin-top: 3%;
   text-align: center;
   pointer-events: none;
}
@media (min-width:280px){
   .photo_profile{
       margin-top: 10%;
  }
}
@media (min-width:425px){
   .photo_profile{
       margin-top: 5%;
  }
}
@media (min-width:768px){
   .photo_profile{
       margin-top: 3%;
  }
}
.name{
   color: #fff;
   text-align: center;
   font-size: 32px;
   -webkit-user-select: text;
  /* Safari */
   -moz-user-select: text;
  /* Firefox */
   -ms-user-select: text;
  /* IE10+/Edge */
   user-select: text;
  /* Standard */
}
@media (min-width:280px){
   .name{
       margin-top: 5%;
  }
}
@media (min-width:375px){
   .name{
       margin-top: 2%;
  }
}
.about{
   color: #fff;
   text-align: center;
   font-size: 24px;
   width: 20%;
   margin-left: auto;
   margin-right: auto;
   -webkit-user-select: text;
  /* Safari */
   -moz-user-select: text;
  /* Firefox */
   -ms-user-select: text;
  /* IE10+/Edge */
   user-select: text;
  /* Standard */
}
@media (min-width:280px){
   .about{
       width: 90%;
       margin-top: 10%;
  }
}
@media (min-width:487px){
   .about{
       width: 70%;
  }
}
@media (min-width:621px){
   .about{
       width: 60%;
  }
}
@media (min-width:723px){
   .about{
       width: 50%;
       margin-top: 5%;
  }
}
@media (min-width:864px){
   .about{
       width: 40%;
  }
}
@media (min-width:1076px){
   .about{
       width: 30%;
       margin-top: 3%;
  }
}
@media (min-width:1429px){
   .about{
       width: 20%;
  }
}
.block_price{
   background-color: #151515;
   margin-left: auto;
   margin-right: auto;
   border-radius: 20px;
   padding: 10px 10px 20px 10px;
}
@media (min-width:280px){
   .block_price{
       width: 90%;
       margin-top: 20%;
  }
}
@media (min-width:768px){
   .block_price{
       width: 60%;
       margin-top: 10%;
  }
}
@media (min-width:1024px){
   .block_price{
       width: 50%;
       margin-top: 5%;
  }
}
@media (min-width:1440px){
   .block_price{
       width: 40%;
  }
}
@media (min-width:1920px){
   .block_price{
       width: 30%;
  }
}
.text_price{
   font-size: 28px;
   text-align: center;
   padding: 10px;
   color: #878787;
}
.button_price{
   background-color: #232323;
   padding: 20px;
   text-align: center;
   display: inline-block;
   color: #fff;
   border-radius: 20px;
   transition: 0.5s;
}
@media (min-width:280px){
   .button_price{
       width: 80%;
       font-size: 24px;
  }
}
@media (min-width:320px){
   .button_price{
       width: 75%;
       font-size: 28px;
  }
}
@media (min-width:375px){
   .button_price{
       width: 65%;
  }
}
@media (min-width:768px){
   .button_price{
       width: 50%;
  }
}
.button_price:hover{
   background-color: #353535;
}
.block_contact{
   background-color: #151515;
   margin-left: auto;
   margin-right: auto;
   border-radius: 20px;
}
@media (min-width:280px){
   .block_contact{
       width: 90%;
       padding: 10px;
       margin-top: 10%;
  }
}
@media (min-width:375px){
   .block_contact{
       width: 90%;
       padding: 20px;
  }
}
@media (min-width:768px){
   .block_contact{
       width: 60%;
       margin-top: 5%;
  }
}
@media (min-width:1024px){
   .block_contact{
       width: 50%;
       margin-top: 3%;
  }
}
@media (min-width:1440px){
   .block_contact{
       width: 40%;
  }
}
@media (min-width:1920px){
   .block_contact{
       width: 30%;
  }
}
.text_contact{
   font-size: 28px;
   text-align: center;
   padding: 10px;
   margin-bottom: 2%;
   color: #878787;
}
.text_mail{
   text-align: center;
   padding: 10px;
   color: #fff;
   -webkit-user-select: text;
  /* Safari */
   -moz-user-select: text;
  /* Firefox */
   -ms-user-select: text;
  /* IE10+/Edge */
   user-select: text;
  /* Standard */
}
@media (min-width:280px){
   .text_mail{
       font-size: 20px;
  }
}
@media (min-width:320px){
   .text_mail{
       font-size: 22px;
  }
}
@media (min-width:375px){
   .text_mail{
       font-size: 24px;
  }
}
@media (min-width:425px){
   .text_mail{
       font-size: 28px;
  }
}
.block_pay{
   background-color: #151515;
   margin-left: auto;
   margin-right: auto;
   border-radius: 20px;
   padding: 10px 10px 20px 10px;
}
@media (min-width:280px){
   .block_pay{
       width: 90%;
       margin-top: 10%;
  }
}
@media (min-width:768px){
   .block_pay{
       width: 60%;
       margin-top: 5%;
  }
}
@media (min-width:1024px){
   .block_pay{
       width: 50%;
       margin-top: 3%;
  }
}
@media (min-width:1440px){
   .block_pay{
       width: 40%;
  }
}
@media (min-width:1920px){
   .block_pay{
       width: 30%;
  }
}
.text_pay{
   font-size: 28px;
   text-align: center;
   padding: 10px;
   color: #878787;
}
.button_position{
   text-align: center;
}
.button_pay{
   background-color: #232323;
   padding: 20px;
   text-align: center;
   color: #fff;
   border-radius: 20px;
   transition: 0.5s;
   display: inline-block;
}
@media (min-width:280px){
   .button_pay{
       width: 80%;
       font-size: 24px;
  }
}
@media (min-width:320px){
   .button_pay{
       width: 75%;
       font-size: 28px;
  }
}
@media (min-width:375px){
   .button_pay{
       width: 65%;
  }
}
@media (min-width:768px){
   .button_pay{
       width: 50%;
  }
}
.button_pay:hover{
   background-color: #353535;
}
.icons_pay_block{
   margin-top: 3%;
   pointer-events: none;
}
.icons_pay{
   width: 100px;
   display: inline-block;
}
.pay_doc{
   color: #fff;
   margin-top: 5%;
}
@media (min-width:280px){
   .pay_doc{
       font-size: 14px;
  }
}
@media (min-width:320px){
   .pay_doc{
       font-size: 16px;
  }
}
@media (min-width:375px){
   .pay_doc{
       font-size: 18px;
  }
}
@media (min-width:768px){
   .pay_doc{
       font-size: 22px;
  }
}
#blackout_point_one, #blackout_point_two, #blackout_point_three{
   background: #2020207a;
   backdrop-filter: blur(4px);
   margin: 0;
   color: #fff;
   width: 100%;
   height: 120%;
   position: fixed;
   top: 0;
   left: 0;
   display: none;
}
#blackout_point_one:target, #blackout_point_two:target, #blackout_point_three:target {
   display: block;
}
.window_position{
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}
#window{
   width: 30%;
   text-align: left;
   padding: 25px;
   border-radius: 30px;
   color: #ffffff;
   margin-left: auto;
   margin-right: auto;
   margin-top: 1%;
   background: #252525;
   -webkit-user-select: text;
  /* Safari */
   -moz-user-select: text;
  /* Firefox */
   -ms-user-select: text;
  /* IE10+/Edge */
   user-select: text;
  /* Standard */
}
@media (min-width:280px){
   #window{
       width: 80%;
       font-size: 14px;
  }
}
@media (min-width:375px){
   #window{
       width: 80%;
       font-size: 16px;
  }
}
@media (min-width:425px){
   #window{
       width: 70%;
       font-size: 16px;
  }
}
@media (min-width:768px){
   #window{
       width: 50%;
       font-size: 18px;
  }
}
@media (min-width:1024px){
   #window{
       width: 40%;
       font-size: 18px;
  }
}
@media (min-width:1440px){
   #window{
       width: 30%;
       font-size: 20px;
  }
}
@media (min-width:1920px){
   #window{
       width: 25%;
       font-size: 22px;
  }
}
.button_close{
   text-align: center;
   transition: 0.5s;
}
.close {
   display: inline-block;
   color: #fff;
   padding: 12px;
   border-radius: 10px;
   margin: 10px;
   background: #313131;
   font-size: 22px;
   cursor:pointer;
   -webkit-user-select: none;
  /* Safari */
   -moz-user-select: none;
  /* Firefox */
   -ms-user-select: none;
  /* IE10+/Edge */
   user-select: none;
  /* Standard */
}
.close:hover {
   background: #444444;
   color:inherit;
}
.organization{
   color: #636363;
   text-align: center;
   -webkit-user-select: text;
  /* Safari */
   -moz-user-select: text;
  /* Firefox */
   -ms-user-select: text;
  /* IE10+/Edge */
   user-select: text;
  /* Standard */
}
@media (min-width:280px){
   .organization{
       margin-top: 30%;
       margin-bottom: 30%;
       font-size: 14px;
  }
}
@media (min-width:320px){
   .organization{
       margin-top: 20%;
       margin-bottom: 20%;
       font-size: 16px;
  }
}
@media (min-width:425px){
   .organization{
       margin-top: 10%;
       margin-bottom: 10%;
  }
}
@media (min-width:1024px){
   .organization{
       margin-top: 5%;
       margin-bottom: 5%;
  }
}